@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-family: "Fira Sans", sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

button {
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 18px;
  color: #fff;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 600;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 400;
  color: #475467;
  font-size: 14px;
}
.contactContainer .salaryBandTrademark {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.contactContainer .contactEmail {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

nav {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #F2F4F7;
}
nav ul {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #475467;
}
nav ul li a:hover {
  color: #0E7090;
}
nav ul li .activeStyle {
  text-decoration: none;
  color: #0E7090;
}
nav ul li .salaryButton {
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #fff;
  padding: 10px 18px 10px 18px;
  cursor: pointer;
  font-weight: 600;
}
nav ul .logo {
  display: flex;
  align-items: center;
}
nav ul .logo a {
  margin-left: 10px;
  font-weight: 900;
  color: #101828;
  text-transform: uppercase;
}
nav ul .headerLinks {
  margin-left: 60px;
  font-weight: 600;
}
nav ul .salarySubmit {
  margin-left: auto;
}

.logo .logoText {
  text-transform: lowercase;
  font-family: "Changa", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #164C63;
}

.mobileNav {
  display: none;
}

header {
  height: 90vh;
  background-color: #155B75;
}
header .wrapper {
  height: 100%;
}
header .heroContainer {
  display: flex;
  height: 100%;
}
header .heroContainer .heroTextContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
}
header .heroContainer .heroTextContainer h1 {
  font-size: 48px;
  color: #fff;
  line-height: 60px;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: -0.02em;
}
header .heroContainer .heroTextContainer h4 {
  font-size: 20px;
  color: #A5F0FC;
  line-height: 30px;
  font-weight: 400;
}
header .heroContainer .heroTextContainer .buttonLinksContainer {
  display: flex;
  min-width: 10%;
  margin-top: 20px;
}
header .heroContainer .heroTextContainer .buttonLinksContainer .heroSubmitSalary {
  text-decoration: none;
  padding: 12px 20px;
  background-color: #fff;
  color: #344054;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  line-height: 24px;
  margin-right: 20px;
}
header .heroContainer .heroTextContainer .buttonLinksContainer .heroExploreData {
  text-decoration: none;
  color: #fff;
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
header .heroContainer .heroImageContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  justify-content: center;
}
header .heroContainer .heroImageContainer .firstLineImages {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
header .heroContainer .heroImageContainer .firstLineImages .imgOne {
  align-self: flex-end;
}
header .heroContainer .heroImageContainer .firstLineImages .imgTwo {
  margin-left: 20px;
}
header .heroContainer .heroImageContainer .secondLineImages {
  display: flex;
}
header .heroContainer .heroImageContainer .secondLineImages .imgFour {
  margin: 0px 20px;
}

.userSubmissionChartContainer {
  margin-top: 70px;
}
.userSubmissionChartContainer .userSubmissionTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.userSubmissionChartContainer .userSubmissionTextContainer h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #088AB2;
}
.userSubmissionChartContainer .userSubmissionTextContainer h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #101828;
  margin: 0px;
}
.userSubmissionChartContainer .userSubmissionTextContainer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}

.userSubmissionTable {
  margin: 50px 0px;
  border: 1px solid #EAECF0;
}
.userSubmissionTable .searchAndRecentDataContainer {
  display: flex;
  padding: 14px;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer {
  width: 50%;
  align-self: center;
  display: flex;
  position: relative;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .searchFilter {
  padding: 10px 35px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: 14px;
  width: 70%;
  margin-right: 10px;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .iconContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #667085;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .advancedFilterContainer {
  width: 30%;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .advancedFilter {
  text-align: center;
  background: transparent;
  border: none;
  color: #344054;
  width: 100%;
  box-shadow: none;
  padding: 0;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  border-top: none;
  padding: 10px 14px;
  width: 101%;
  left: -1px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  -webkit-animation: scrollDown 3ms ease-in;
          animation: scrollDown 3ms ease-in;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters {
  display: flex;
  margin-bottom: 20px;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters .toggleSpan {
  margin-left: 10px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .genderContainer .css-b62m3t-container {
  margin: 10px 0px 20px 0px;
}
.userSubmissionTable .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .raceContainer .css-b62m3t-container {
  margin: 10px 0px 20px 0px;
}
.userSubmissionTable .searchAndRecentDataContainer .recentData {
  width: 50%;
}
.userSubmissionTable .searchAndRecentDataContainer .recentData .recentDataTextContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.userSubmissionTable .searchAndRecentDataContainer .recentData .recentDataTextContainer .recentDataText {
  margin: 0px 15px 0px 0px;
}
.userSubmissionTable .searchAndRecentDataContainer .recentData .recentDataTextContainer .totalSubmissions {
  padding: 2px 8px;
  background-color: #ECFDFF;
  color: #0E7090;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.userSubmissionTable .searchAndRecentDataContainer .recentData .paidWorthContainer {
  display: flex;
  justify-content: flex-end;
}
.userSubmissionTable .searchAndRecentDataContainer .recentData .paidWorthContainer .paidWorth {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  margin: 0;
}
.userSubmissionTable table {
  width: 100%;
  border-collapse: collapse;
}
.userSubmissionTable table thead {
  background-color: #164C63;
  color: #EAECF0;
  font-size: 12px;
  text-align: left;
}
.userSubmissionTable table thead tr .tableHeadContainer {
  padding-left: 10px;
}
.userSubmissionTable table tbody .tableRow {
  border-bottom: 1px solid #EAECF0;
}
.userSubmissionTable table tbody td {
  padding: 18px 10px;
  text-align: left;
  font-size: 14px;
  color: #475467;
}
.userSubmissionTable table tbody td .topText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}
.userSubmissionTable table tbody td .bottomText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}
.userSubmissionTable table tbody td .salaryNegotiationContainer {
  display: flex;
}
.userSubmissionTable table tbody td .salaryNegotiationContainer .salaryNumber {
  margin-right: 5px;
}
.userSubmissionTable table tbody td .salaryNegotiationContainer .increasedPercentage {
  padding: 2px 8px 2px 6px;
  background: #ECFDF3;
  mix-blend-mode: multiply;
  border-radius: 16px;
  color: #027A48;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}
.userSubmissionTable table tbody td .genderText {
  padding: 2px 8px;
  background: #ECFDFF;
  mix-blend-mode: multiply;
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #0E7090;
  text-transform: capitalize;
}
.userSubmissionTable table tbody td .tagsContainer {
  display: flex;
  flex-wrap: wrap;
}
.userSubmissionTable table tbody td .tagsContainer .negotiateContainer {
  margin: 0px 5px 5px 0px;
}
.userSubmissionTable table tbody td .tagsContainer .negotiateContainer .negotiateText {
  background: #ECFDF3;
  mix-blend-mode: multiply;
  border-radius: 16px;
  padding: 2px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #027A48;
}
.userSubmissionTable table tbody td .tagsContainer .workArrangementContainer {
  margin: 0px 5px 5px 0px;
}
.userSubmissionTable table tbody td .tagsContainer .workArrangementContainer .workArr {
  padding: 2px 8px;
  background: #EEF4FF;
  mix-blend-mode: multiply;
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #3538CD;
  text-transform: capitalize;
}
.userSubmissionTable table tbody td .tagsContainer .disabilityContainer {
  margin: 0px 5px 5px 0px;
}
.userSubmissionTable table tbody td .tagsContainer .disabilityContainer .disabilityText {
  background: #EFF8FF;
  mix-blend-mode: multiply;
  border-radius: 16px;
  padding: 2px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #175CD3;
}

.tags {
  width: 25%;
}

.compensation {
  width: 15%;
}

.gender {
  width: 10%;
}

.years {
  width: 8%;
}

.race {
  width: 13%;
}

.company {
  width: 13%;
}

.title {
  width: 15%;
}

@-webkit-keyframes scrollDown {
  0% {
    height: 0%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

@keyframes scrollDown {
  0% {
    height: 0%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
.mobileTableView {
  display: none;
}

.emailVerification {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.userCard {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  border-radius: 12px;
}
.userCard .emailInput {
  width: 55%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.userCard .emailInput .emailInputTextContainer {
  padding-top: 40px;
}
.userCard .emailInput .emailInputTextContainer span {
  text-transform: uppercase;
  color: #F04438;
}
.userCard .emailInput .emailInputTextContainer p {
  margin-bottom: 32px;
  color: #475467;
}
.userCard .emailInput .thankYouEmailInputTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.userCard .emailInput .formContainer form {
  display: flex;
  flex-direction: column;
}
.userCard .emailInput .formContainer form input {
  margin: 5px 0px 20px 0px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
}
.userCard .emailInput .formContainer form button {
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 18px;
  color: #fff;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 600;
}
.userCard .emailInput .contactContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 400;
  color: #475467;
  height: 100%;
}
.userCard .emailInput .contactContainer .salaryBandTrademark {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-self: end;
}
.userCard .emailInput .contactContainer .salaryBandTrademark p {
  margin-bottom: 0px;
}
.userCard .emailInput .contactContainer .contactEmail {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-self: end;
}
.userCard .emailInput .contactContainer .contactEmail p {
  margin-bottom: 0px;
}
.userCard .infoCard {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #164C63;
  border-radius: 0px 8px 8px 0px;
}
.userCard .infoCard .infoImgContainer {
  height: 40%;
  width: 100%;
  text-align: center;
  padding-top: 20%;
}
.userCard .infoCard .infoImgContainer img {
  width: 70%;
}
.userCard .infoCard .infoCardTextContainer {
  height: 60%;
  padding: 25px;
  color: #EAECF0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.userCard .infoCard .infoCardTextContainer h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
}

.errorText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F04438;
  margin-top: 0;
}

.loadingAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.userFlowContainer {
  width: 100vw;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userFlowContainer .userCard {
  min-width: 90%;
}
.userFlowContainer .userCard .detailsCard {
  width: auto;
  padding: 15px;
  height: 100%;
}
.userFlowContainer .userCard .userPathwayCard {
  width: 55%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .detailsTextContainer h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .detailsTextContainer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails {
  display: flex;
  flex-direction: column;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails .uploadContainer {
  width: 100%;
  height: 120px;
  padding: 16px, 24px, 16px, 24px;
  border: 1px solid #EAECF0;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  border-radius: 12px;
  display: flex;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails .uploadContainer .uploadText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails .uploadContainer .uploadText .iconContainer svg {
  font-size: 25px;
  color: #475467;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails .uploadContainer .uploadText p {
  margin: 5px 0px;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails .uploadContainer .uploadText p .boldUpload {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails .verifyButton {
  width: 100%;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .professionalDetails .orContainer {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .contactContainer {
  height: 25%;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .contactContainer .salaryBandTrademark {
  align-self: end;
}
.userFlowContainer .userCard .userPathwayCard .userPathwayComponentContainer .contactContainer .contactEmail {
  align-self: end;
}

.dropzone {
  width: 100%;
}

.success {
  color: #039855;
}

.professionalDetailsContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.professionalDetails {
  width: 100%;
  font-size: 14px;
}
.professionalDetails input {
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  margin-top: 5px;
}
.professionalDetails .css-1s2u09g-control {
  margin-top: 5px;
}
.professionalDetails button {
  width: 100%;
}
.professionalDetails .companyAndLocationContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.professionalDetails .companyAndLocationContainer .companyContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.professionalDetails .companyAndLocationContainer .companyContainer .optionalText {
  color: #98A2B3;
}
.professionalDetails .companyAndLocationContainer .locationContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .jobTitleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.professionalDetails .salaryQuestionContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
  justify-content: space-between;
}
.professionalDetails .salaryQuestionContainer .salaryContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.professionalDetails .salaryQuestionContainer .typeContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .yearsAndWorkContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.professionalDetails .yearsAndWorkContainer .yearsContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.professionalDetails .yearsAndWorkContainer .workContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .negotiateContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer {
  display: flex;
  margin-top: 5px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .yesContainer {
  align-self: center;
  width: 50%;
  margin-left: 20px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .yesContainer label {
  margin-left: 5px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .noContainer {
  align-self: center;
  width: 50%;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .noContainer label {
  margin-left: 5px;
}
.professionalDetails .negotiateContainer .negotiatePercentContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .titleAndLocationContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.professionalDetails .titleAndLocationContainer .locationContainer {
  display: flex;
  flex-direction: column;
}
.professionalDetails .titleAndLocationContainer .jobTitleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.detailsCard .contactContainer {
  margin-top: 20px;
}

.professionalDetailsCardandImageContainer {
  display: flex;
  width: 100%;
}

.countryStateCityContainer {
  margin-bottom: 15px;
}

.locationInputs {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
}

.locationSelect {
  margin-bottom: 5px;
}

.detailsTextContainer h2 {
  margin: 0;
}
.detailsTextContainer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.countryStateCityContainer {
  width: calc(33.3333333333% - 20px);
}

.middle {
  margin: 0px 10px;
}

.largerWidth {
  width: 35%;
}

.stateLabel {
  color: transparent;
}

.nextAndBackContainer {
  display: flex;
  justify-content: space-between;
}
.nextAndBackContainer .nextContainer {
  width: 100%;
}
.nextAndBackContainer .nextContainer .verifyButton {
  width: 100%;
  font-size: 14px;
}
.nextAndBackContainer .backContainer {
  width: 45%;
}
.nextAndBackContainer .backContainer .backButton {
  text-decoration: none;
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 18px;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 14px;
}

.payItForwardFormContainer form {
  display: flex;
  flex-direction: column;
}
.payItForwardFormContainer form label {
  font-size: 14px;
}
.payItForwardFormContainer form textarea {
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  resize: none;
  margin-top: 5px;
  height: 72px;
  padding: 10px 14px;
  font-size: 14px;
}
.payItForwardFormContainer form .adviceContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.payItForwardFormContainer form .negotiateContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.payItForwardTextContainer .optionalText {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #98A2B3;
}
.payItForwardTextContainer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin-bottom: 25px;
}

.userCard {
  height: 90%;
}
.userCard .submissionContainer .personalCharacteristics {
  font-size: 14px;
}
.userCard .submissionContainer .personalCharacteristics .genderContainer, .userCard .submissionContainer .personalCharacteristics .raceContainer, .userCard .submissionContainer .personalCharacteristics .yesDisabilityContainer {
  margin-bottom: 20px;
}
.userCard .submissionContainer .personalCharacteristics .genderContainer .css-1s2u09g-control, .userCard .submissionContainer .personalCharacteristics .raceContainer .css-1s2u09g-control, .userCard .submissionContainer .personalCharacteristics .yesDisabilityContainer .css-1s2u09g-control {
  margin-top: 5px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .yesContainer {
  align-self: center;
  width: 50%;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .yesContainer label {
  margin-left: 5px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .noContainer {
  align-self: center;
  width: 50%;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .noContainer label {
  margin-left: 5px;
}
.userCard .submissionContainer .personalCharacteristics button {
  width: 100%;
}

.transparencyContainer {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.css-3iigni-container {
  margin-top: 5px;
}

.tipsAndAdviceContainer {
  display: flex;
  flex-direction: column;
}
.tipsAndAdviceContainer .tipsTitleContainer {
  width: 55%;
}
.tipsAndAdviceContainer .tipsTitleContainer h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
}

.adviceCardContainer {
  display: flex;
  width: 100%;
  margin: 50px 0px;
  flex-wrap: wrap;
}
.adviceCardContainer .adviceCard {
  background: #F9FAFB;
  border: 1px solid #EAECF0;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  width: calc(33.3333333333% - 15px);
  padding: 20px;
  margin: 0px 15px 15px 0px;
  height: 100%;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer {
  display: flex;
  width: 100%;
  height: 30%;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer .titleAndLocationContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer .titleAndLocationContainer .titleContainer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
  margin: 0;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer .titleAndLocationContainer .locationContainer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer .titleAndLocationContainer .locationContainer p {
  margin-top: 5px;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer .yearsGenderRaceContainer {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  align-items: flex-end;
  width: 50%;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer .yearsGenderRaceContainer p {
  margin: 0;
}
.adviceCardContainer .adviceCard .professionalDetailsContainer .yearsGenderRaceContainer .boldAdvice {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}
.adviceCardContainer .adviceCard .userAdviceContainer .questionText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.adviceCardContainer .adviceCard .userAdviceContainer .answerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.sRContainer {
  display: flex;
  padding: 14px;
}
.sRContainer .searchContainer {
  width: 50%;
  align-self: center;
  display: flex;
  position: relative;
}
.sRContainer .searchContainer .searchFilter {
  padding: 10px 35px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: 14px;
  width: 70%;
  margin-right: 10px;
}
.sRContainer .searchContainer .iconContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #667085;
}
.sRContainer .searchContainer .advancedFilterContainer {
  width: 30%;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 14px;
  width: 30%;
  position: relative;
}
.sRContainer .searchContainer .advancedFilterContainer .advancedFilter {
  text-align: center;
  background: transparent;
  border: none;
  color: #344054;
  width: 100%;
  box-shadow: none;
  padding: 0;
}
.sRContainer .searchContainer .advancedFilterContainer .filterOptionsContainer {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  border-top: none;
  padding: 10px 14px;
  width: 101%;
  left: -1px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.sRContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters {
  display: flex;
  margin-bottom: 20px;
}
.sRContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters .toggleSpan {
  margin-left: 10px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}
.sRContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .genderContainer .css-b62m3t-container {
  margin: 10px 0px 20px 0px;
}
.sRContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .raceContainer .css-b62m3t-container {
  margin: 10px 0px 20px 0px;
}
.sRContainer .recentData {
  width: 50%;
}
.sRContainer .recentData .recentDataTextContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sRContainer .recentData .recentDataTextContainer .recentDataText {
  margin: 0px 15px 0px 0px;
}
.sRContainer .recentData .recentDataTextContainer .totalSubmissions {
  padding: 2px 8px;
  background-color: #ECFDFF;
  color: #0E7090;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.salaryTitleContainer {
  display: flex;
  width: 50%;
}
.salaryTitleContainer h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 0px;
}

.searchAndRecentDataContainer {
  display: flex;
  padding: 14px;
}
.searchAndRecentDataContainer .searchContainer {
  width: 50%;
  align-self: center;
  display: flex;
}
.searchAndRecentDataContainer .searchContainer .searchFilter {
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: 14px;
  width: 70%;
  margin-right: 10px;
}
.searchAndRecentDataContainer .searchContainer .advancedFilterContainer {
  width: 30%;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 14px;
  width: 30%;
  position: relative;
}
.searchAndRecentDataContainer .searchContainer .advancedFilterContainer .advancedFilter {
  text-align: center;
  background: transparent;
  border: none;
  color: #344054;
  width: 100%;
  box-shadow: none;
  padding: 0;
}
.searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  border-top: none;
  padding: 10px 14px;
  width: 101%;
  left: -1px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters {
  display: flex;
  margin-bottom: 20px;
}
.searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters .toggleSpan {
  margin-left: 10px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}
.searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .genderContainer .css-b62m3t-container {
  margin: 10px 0px 20px 0px;
}
.searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .raceContainer .css-b62m3t-container {
  margin: 10px 0px 20px 0px;
}
.searchAndRecentDataContainer .recentData {
  width: 50%;
}
.searchAndRecentDataContainer .recentData .recentDataTextContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.searchAndRecentDataContainer .recentData .recentDataTextContainer .recentDataText {
  margin: 0px 15px 0px 0px;
}
.searchAndRecentDataContainer .recentData .recentDataTextContainer .totalSubmissions {
  padding: 2px 8px;
  background-color: #ECFDFF;
  color: #0E7090;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.searchAndRecentDataContainer .recentData .paidWorthContainer {
  display: flex;
  justify-content: flex-end;
}
.searchAndRecentDataContainer .recentData .paidWorthContainer .paidWorth {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  margin: 0;
}

.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0px;
}
.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container .pagination-item .arrow::before {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

.paginationButton {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 8px 14px;
  color: #344054;
}

.finishContainer .finishTextContainer {
  display: flex;
  flex-direction: column;
}
.finishContainer .finishTextContainer h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #101828;
}
.finishContainer .finishTextContainer .keepExploringButton {
  padding: 10px 18px;
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

footer {
  background-color: #1D2939;
  color: #EAECF0;
}
footer .wrapper .footerNavNewsletterContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .logoContainer {
  display: flex;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .logoContainer a {
  margin-left: 10px;
  font-weight: 900;
  color: #FFF;
  text-transform: lowercase;
  text-decoration: none;
  align-self: center;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer {
  display: flex;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav {
  border-bottom: none;
  width: 100%;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul {
  margin: 0;
  padding-left: 0;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterOne, footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterTwo {
  display: flex;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterOne li, footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterTwo li {
  margin-right: 30px;
}
footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterOne li .footerNavLinks, footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterTwo li .footerNavLinks {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #EAECF0;
}
footer .wrapper .footerNavNewsletterContainer .newsletterContainer .signUp label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .wrapper .footerNavNewsletterContainer .newsletterContainer .signUp input {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  margin-right: 10px;
  font-size: 14px;
}
footer .wrapper .copyrightContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
footer .wrapper .copyrightContainer .copyright {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #D0D5DD;
  font-size: 14px;
}
footer .wrapper .copyrightContainer .privacyTerms ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 100%;
}
footer .wrapper .copyrightContainer .privacyTerms ul li .footerPrivacyLinks {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #667085;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .mobileNav .hamburgerContainer {
    padding-right: 10px;
  }
  .mobileNav .hamburgerContainer .hamburgerMenu {
    color: #344054;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 24px;
    padding: 0px;
  }
  .mobileNav .slideOutNav {
    position: absolute;
    width: 100%;
    top: 51px;
    right: 0px;
    background-color: #fff;
    z-index: 2;
  }
  .mobileNav .slideOutNav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .mobileNav .slideOutNav ul li {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  header .wrapper .heroContainer .heroTextContainer {
    width: 100%;
  }
  header .wrapper .heroContainer .heroTextContainer h1 {
    font-size: 30px;
    line-height: 38px;
    margin-top: 0px;
  }
  header .wrapper .heroContainer .heroTextContainer h4 {
    font-size: 18px;
    line-height: 28px;
  }
  header .wrapper .heroContainer .heroTextContainer .buttonLinksContainer {
    flex-direction: column;
  }
  header .wrapper .heroContainer .heroTextContainer .buttonLinksContainer .heroSubmitSalary {
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  header .wrapper .heroContainer .heroTextContainer .buttonLinksContainer .heroExploreData {
    text-align: center;
  }
  header .wrapper .heroContainer .heroImageContainer {
    display: none;
  }
  .userSubmissionTable {
    display: none;
  }
  .mobileWrapper {
    width: 97%;
    margin: 0 auto;
  }
  .mobileWrapper .mobileTableView {
    display: block;
    margin: 50px 0px;
    border: 1px solid #EAECF0;
  }
  .mobileWrapper .mobileTableView .userSubmissionTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .mobileWrapper .mobileTableView .userSubmissionTextContainer h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #088AB2;
  }
  .mobileWrapper .mobileTableView .userSubmissionTextContainer h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #101828;
    margin: 0px;
  }
  .mobileWrapper .mobileTableView .userSubmissionTextContainer p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer {
    display: flex;
    padding: 14px;
    flex-direction: column-reverse;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .searchFilter {
    padding: 10px 35px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    margin: 10px 0px;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .iconContainer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #667085;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .advancedFilterContainer {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .advancedFilter {
    text-align: center;
    background: transparent;
    border: none;
    color: #344054;
    width: 100%;
    box-shadow: none;
    padding: 0;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-top: none;
    padding: 10px 14px;
    width: 100.5%;
    left: -1px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    -webkit-animation: scrollDown 3ms ease-in;
            animation: scrollDown 3ms ease-in;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters {
    display: flex;
    margin-bottom: 20px;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .salaryFilters .toggleSpan {
    margin-left: 10px;
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .genderContainer .css-b62m3t-container {
    margin: 10px 0px 20px 0px;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .searchContainer .advancedFilterContainer .filterOptionsContainer .raceContainer .css-b62m3t-container {
    margin: 10px 0px 20px 0px;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .recentData {
    width: 100%;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .recentData .recentDataTextContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .recentData .recentDataTextContainer .recentDataText {
    margin: 0px 15px 0px 0px;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .recentData .recentDataTextContainer .totalSubmissions {
    padding: 2px 8px;
    background-color: #ECFDFF;
    color: #0E7090;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .recentData .paidWorthContainer {
    display: flex;
    justify-content: flex-end;
  }
  .mobileWrapper .mobileTableView .searchAndRecentDataContainer .recentData .paidWorthContainer .paidWorth {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
    margin: 0;
  }
  .mobileWrapper .mobileTableView table {
    width: 100%;
    border-collapse: collapse;
  }
  .mobileWrapper .mobileTableView table thead {
    background-color: #164C63;
    color: #EAECF0;
    font-size: 12px;
    text-align: left;
  }
  .mobileWrapper .mobileTableView table thead tr .tableHeadContainer {
    padding-left: 0px;
  }
  .mobileWrapper .mobileTableView table tbody .tableRow {
    border-bottom: 1px solid #EAECF0;
  }
  .mobileWrapper .mobileTableView table tbody .titleRow {
    width: 30%;
  }
  .mobileWrapper .mobileTableView table tbody td {
    padding: 15px 5px;
    text-align: left;
    font-size: 14px;
    color: #475467;
  }
  .mobileWrapper .mobileTableView table tbody td .topText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
  }
  .mobileWrapper .mobileTableView table tbody td .bottomText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
  }
  .mobileWrapper .mobileTableView table tbody td .salaryNegotiationContainer {
    display: flex;
    flex-direction: column;
  }
  .mobileWrapper .mobileTableView table tbody td .salaryNegotiationContainer .salaryNumber {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .mobileWrapper .mobileTableView table tbody td .salaryNegotiationContainer .increasedPercentage {
    padding: 0px 8px 0px 6px;
    background: #ECFDF3;
    mix-blend-mode: multiply;
    border-radius: 16px;
    color: #027A48;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
  }
  .mobileWrapper .mobileTableView table tbody td .genderText {
    padding: 2px 8px;
    background: #ECFDFF;
    mix-blend-mode: multiply;
    border-radius: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #0E7090;
    text-transform: capitalize;
  }
  .mobileWrapper .mobileTableView table tbody td .tagsContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .mobileWrapper .mobileTableView table tbody td .tagsContainer .negotiateContainer {
    margin: 0px 5px 5px 0px;
  }
  .mobileWrapper .mobileTableView table tbody td .tagsContainer .negotiateContainer .negotiateText {
    background: #ECFDF3;
    mix-blend-mode: multiply;
    border-radius: 16px;
    padding: 2px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #027A48;
  }
  .mobileWrapper .mobileTableView table tbody td .tagsContainer .workArrangementContainer {
    margin: 0px 5px 5px 0px;
  }
  .mobileWrapper .mobileTableView table tbody td .tagsContainer .workArrangementContainer .workArr {
    padding: 2px 8px;
    background: #EEF4FF;
    mix-blend-mode: multiply;
    border-radius: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #3538CD;
    text-transform: capitalize;
  }
  .mobileWrapper .mobileTableView table tbody td .tagsContainer .disabilityContainer {
    margin: 0px 5px 5px 0px;
  }
  .mobileWrapper .mobileTableView table tbody td .tagsContainer .disabilityContainer .disabilityText {
    background: #EFF8FF;
    mix-blend-mode: multiply;
    border-radius: 16px;
    padding: 2px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #175CD3;
  }
  .mobileWrapper .mobileTableView .company {
    width: 5%;
  }
  .mobileWrapper .mobileTableView .titleContainer {
    padding-left: 10px;
  }
  .emailVerification {
    height: auto;
  }
  .emailVerification .userCard {
    flex-direction: column;
    width: 100%;
  }
  .emailVerification .userCard .emailInput {
    width: 100%;
  }
  .emailVerification .userCard .infoCard {
    width: 100%;
  }
  .emailVerification .userCard .infoCard .infoImgContainer {
    padding: 10%;
  }
  .userFlowContainer {
    height: auto;
  }
  .userFlowContainer .userCard {
    flex-direction: column;
    width: 100%;
  }
  .userFlowContainer .userCard .userPathwayCard {
    width: 100%;
  }
  .userFlowContainer .userCard .infoCard {
    width: 100%;
  }
  .userSubmissionChartContainer .wrapper .userSubmissionTextContainer h2 {
    font-size: 34px;
  }
  .userSubmissionChartContainer .wrapper .userSubmissionTextContainer p {
    text-align: center;
    font-size: 18px;
  }
  .userCard .professionalDetailsCardandImageContainer {
    flex-direction: column;
  }
  .userCard .professionalDetailsCardandImageContainer .professionalDetailsContainer {
    width: 100%;
  }
  .transparencyContainer {
    width: 100%;
  }
  .wrapper .tipsAndAdviceContainer .tipsTitleContainer {
    width: 100%;
  }
  .wrapper .tipsAndAdviceContainer .tipsTitleContainer h2 {
    font-size: 30px;
  }
  .wrapper .tipsAndAdviceContainer .sRContainer {
    padding: 0px;
  }
  .wrapper .tipsAndAdviceContainer .sRContainer .searchContainer {
    flex-direction: column;
    width: 100%;
  }
  .wrapper .tipsAndAdviceContainer .sRContainer .searchContainer .searchFilter {
    width: 100%;
    margin-bottom: 10px;
  }
  .wrapper .tipsAndAdviceContainer .sRContainer .searchContainer .advancedFilterContainer {
    width: 100%;
  }
  .wrapper .tipsAndAdviceContainer .sRContainer .searchContainer .advancedFilterContainer .filterOptionsContainer {
    width: 100.5%;
  }
  .wrapper .tipsAndAdviceContainer .sRContainer .recentData {
    display: none;
  }
  .wrapper .tipsAndAdviceContainer .adviceCardContainer .adviceCard {
    width: 100%;
    margin-right: 0px;
  }
  .wrapper .salaryTitleContainer {
    width: 100%;
  }
  .wrapper .salaryTitleContainer h2 {
    font-size: 30px;
  }
  footer .wrapper .footerNavNewsletterContainer {
    display: flex;
    flex-direction: column;
  }
  footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer {
    width: 80%;
  }
  footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul {
    display: flex;
    justify-content: space-between;
  }
  footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterOne, footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterTwo {
    display: flex;
    flex-direction: column;
  }
  footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterOne li, footer .wrapper .footerNavNewsletterContainer .logoAndNavContainer .footerNavContainer .footerNav ul .mediaFooterTwo li {
    margin-bottom: 10px;
  }
  footer .wrapper .footerNavNewsletterContainer .newsletterContainer .signUp {
    display: flex;
    flex-direction: column;
  }
  footer .wrapper .footerNavNewsletterContainer .newsletterContainer .signUp input {
    margin: 0px 0px 10px 0px;
  }
  footer .wrapper .copyrightContainer {
    flex-direction: column-reverse;
  }
  footer .wrapper .copyrightContainer .copyright {
    align-self: start;
  }
  footer .wrapper .copyrightContainer .privacyTerms ul li .footerPrivacyLinks {
    margin: 0px 10px 0px 0px;
  }
}