@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-family: "Fira Sans", sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

button {
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 18px;
  color: #fff;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 600;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 400;
  color: #475467;
  font-size: 14px;
}
.contactContainer .salaryBandTrademark {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.contactContainer .contactEmail {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

nav {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #F2F4F7;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #475467;
}
nav ul li .salaryButton {
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #fff;
  padding: 10px 18px 10px 18px;
  cursor: pointer;
  font-weight: 600;
}
nav ul .logo {
  display: flex;
  align-items: center;
}
nav ul .logo a {
  margin-left: 10px;
  font-weight: 900;
  color: #101828;
  text-transform: uppercase;
}
nav ul .headerLinks {
  margin-left: 60px;
  font-weight: 600;
}
nav ul .salarySubmit {
  margin-left: auto;
}

header {
  height: 90vh;
  background-color: #155B75;
}
header .wrapper {
  height: 100%;
}
header .heroContainer {
  display: flex;
  height: 100%;
}
header .heroContainer .heroTextContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
}
header .heroContainer .heroTextContainer h1 {
  font-size: 48px;
  color: #fff;
  line-height: 60px;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: -0.02em;
}
header .heroContainer .heroTextContainer h4 {
  font-size: 20px;
  color: #A5F0FC;
  line-height: 30px;
  font-weight: 400;
}
header .heroContainer .heroTextContainer .buttonLinksContainer {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin-top: 20px;
}
header .heroContainer .heroTextContainer .buttonLinksContainer .heroSubmitSalary {
  text-decoration: none;
  padding: 12px 20px;
  background-color: #fff;
  color: #344054;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  line-height: 24px;
}
header .heroContainer .heroTextContainer .buttonLinksContainer .heroExploreData {
  text-decoration: none;
  color: #fff;
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.userSubmissionChartContainer {
  margin-top: 70px;
}
.userSubmissionChartContainer .userSubmissionTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.userSubmissionChartContainer .userSubmissionTextContainer h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #088AB2;
}
.userSubmissionChartContainer .userSubmissionTextContainer h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #101828;
  margin: 0px;
}
.userSubmissionChartContainer .userSubmissionTextContainer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}
.userSubmissionChartContainer .userSubmissionTable {
  margin: 50px 0px;
}
.userSubmissionChartContainer .userSubmissionTable table {
  width: 100%;
  border-spacing: 0;
}
.userSubmissionChartContainer .userSubmissionTable table thead {
  background-color: #164C63;
  color: #EAECF0;
}
.userSubmissionChartContainer .userSubmissionTable table thead .tableHeadings th {
  padding: 12px 24px;
}
.userSubmissionChartContainer .userSubmissionTable table tbody td {
  text-align: center;
}

.emailVerification {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userCard {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  border-radius: 12px;
}
.userCard .emailInput {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.userCard .emailInput .emailInputTextContainer {
  padding-top: 40px;
}
.userCard .emailInput .emailInputTextContainer span {
  text-transform: uppercase;
  color: #F04438;
}
.userCard .emailInput .emailInputTextContainer p {
  margin-bottom: 32px;
  color: #475467;
}
.userCard .emailInput .thankYouEmailInputTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.userCard .emailInput .formContainer form {
  display: flex;
  flex-direction: column;
}
.userCard .emailInput .formContainer form input {
  margin: 5px 0px 20px 0px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
}
.userCard .emailInput .formContainer form button {
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 18px;
  color: #fff;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 600;
}
.userCard .emailInput .contactContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 400;
  color: #475467;
  height: 100%;
}
.userCard .emailInput .contactContainer .salaryBandTrademark {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-self: end;
}
.userCard .emailInput .contactContainer .salaryBandTrademark p {
  margin-bottom: 0px;
}
.userCard .emailInput .contactContainer .contactEmail {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-self: end;
}
.userCard .emailInput .contactContainer .contactEmail p {
  margin-bottom: 0px;
}
.userCard .infoCard {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #164C63;
  border-radius: 0px 8px 8px 0px;
}
.userCard .infoCard .infoImgContainer {
  height: 40%;
  width: 100%;
  text-align: center;
  padding-top: 20%;
}
.userCard .infoCard .infoImgContainer img {
  width: 70%;
}
.userCard .infoCard .infoCardTextContainer {
  height: 60%;
  padding: 25px;
  color: #EAECF0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.userCard .infoCard .infoCardTextContainer h3 {
  margin-bottom: 0px;
}

.userFlowContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userFlowContainer .userCard {
  min-width: 90%;
}
.userFlowContainer .userCard .detailsCard {
  width: auto;
  padding: 15px;
  height: 100%;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer {
  height: 100%;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer .professionalDetails {
  display: flex;
  flex-direction: column;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer .professionalDetails .uploadContainer {
  width: 100%;
  height: 120px;
  padding: 16px, 24px, 16px, 24px;
  border: 1px solid #EAECF0;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  border-radius: 12px;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer .professionalDetails .verifyButton {
  width: 100%;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer .professionalDetails .orContainer {
  width: 100%;
  text-align: center;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer .contactContainer {
  height: 25%;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer .contactContainer .salaryBandTrademark {
  align-self: end;
}
.userFlowContainer .userCard .detailsCard .userPathwayComponentContainer .contactContainer .contactEmail {
  align-self: end;
}

.professionalDetailsContainer {
  height: 100%;
  width: 50%;
}

.professionalDetails {
  width: 100%;
  font-size: 14px;
}
.professionalDetails input {
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  margin-top: 5px;
}
.professionalDetails .css-1s2u09g-control {
  margin-top: 5px;
}
.professionalDetails button {
  width: 100%;
}
.professionalDetails .companyAndLocationContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.professionalDetails .companyAndLocationContainer .companyContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.professionalDetails .companyAndLocationContainer .locationContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .jobTitleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.professionalDetails .salaryQuestionContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}
.professionalDetails .salaryQuestionContainer .salaryContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.professionalDetails .salaryQuestionContainer .typeContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .yearsAndWorkContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.professionalDetails .yearsAndWorkContainer .yearsContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.professionalDetails .yearsAndWorkContainer .workContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .negotiateContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer {
  display: flex;
  margin-top: 5px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .yesContainer {
  align-self: center;
  width: 50%;
  margin-left: 20px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .yesContainer label {
  margin-left: 5px;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .noContainer {
  align-self: center;
  width: 50%;
}
.professionalDetails .negotiateContainer .negotiateQuestionContainer .yesOrNoContainer .noContainer label {
  margin-left: 5px;
}
.professionalDetails .negotiateContainer .negotiatePercentContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.detailsCard .contactContainer {
  margin-top: 20px;
}

.professionalDetailsCardandImageContainer {
  display: flex;
  width: 100%;
}

.payItForwardFormContainer {
  padding: 15px;
}
.payItForwardFormContainer form {
  display: flex;
  flex-direction: column;
}
.payItForwardFormContainer form label {
  font-size: 14px;
}
.payItForwardFormContainer form textarea {
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  resize: none;
  margin-top: 5px;
  height: 72px;
  padding: 10px 14px;
  font-size: 14px;
}
.payItForwardFormContainer form .adviceContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.payItForwardFormContainer form .negotiateContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.userCard {
  height: 90%;
}
.userCard .submissionContainer .personalCharacteristics {
  font-size: 14px;
}
.userCard .submissionContainer .personalCharacteristics .genderContainer, .userCard .submissionContainer .personalCharacteristics .raceContainer, .userCard .submissionContainer .personalCharacteristics .yesDisabilityContainer {
  margin-bottom: 20px;
}
.userCard .submissionContainer .personalCharacteristics .genderContainer .css-1s2u09g-control, .userCard .submissionContainer .personalCharacteristics .raceContainer .css-1s2u09g-control, .userCard .submissionContainer .personalCharacteristics .yesDisabilityContainer .css-1s2u09g-control {
  margin-top: 5px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .yesContainer {
  align-self: center;
  width: 50%;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .yesContainer label {
  margin-left: 5px;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .noContainer {
  align-self: center;
  width: 50%;
}
.userCard .submissionContainer .personalCharacteristics .disabilityContainer .yesOrNoContainer .noContainer label {
  margin-left: 5px;
}
.userCard .submissionContainer .personalCharacteristics button {
  width: 100%;
}

.transparencyContainer {
  width: 50%;
  padding: 15px;
}

.finishContainer .finishTextContainer {
  display: flex;
  flex-direction: column;
}
.finishContainer .finishTextContainer h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #101828;
}
.finishContainer .finishTextContainer .keepExploringButton {
  padding: 10px 18px;
  background: #088AB2;
  border: 1px solid #088AB2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}