.emailVerification {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userCard {
    display: flex; 
    flex-direction: row;
    width: 80%;
    justify-content: center;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    border-radius: 12px;
    .emailInput {
        width: 55%; 
        padding: 15px;
        display: flex;
        flex-direction: column;
        .emailInputTextContainer {
            padding-top: 40px; 
            span {
                text-transform: uppercase;
                color: #F04438;
            }
            p {
                margin-bottom: 32px;
                color: #475467;
            }
        }
        .thankYouEmailInputTextContainer {
            display: flex; 
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
        }
        .formContainer {
            form {
                display: flex;
                flex-direction: column;
                input {
                    margin: 5px 0px 20px 0px;
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    padding: 10px 14px;

                }
                button {
                    background: #088AB2;
                    border: 1px solid #088AB2;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    padding: 10px 18px;
                    color: #fff;
                    margin-top: 4px;
                    cursor: pointer; 
                    font-weight: 600;
                }
            }
        }
        .contactContainer {
            display: flex; 
            flex-direction: row;
            width: 100%; 
            font-weight: 400;
            color: #475467;
            height: 100%; 
            .salaryBandTrademark {
                display: flex; 
                justify-content: flex-start;
                width: 50%;
                align-self: end;
                p {
                    margin-bottom: 0px;
                }
            }
            .contactEmail {
                display: flex;
                justify-content: flex-end;
                width: 50%; 
                align-self: end;
                p {
                        margin-bottom: 0px;
                    }
            }
        }
    }
    .infoCard {
        width: 50%; 
        display: flex;
        flex-direction: column;
        background: #164C63;
        border-radius: 0px 8px 8px 0px;
        .infoImgContainer {
            height: 40%; 
            width: 100%;
            text-align: center;
            padding-top: 20%;
            img {
                width: 70%;
            }
        }
        .infoCardTextContainer {
            height: 60%; 
            padding: 25px;
            color: #EAECF0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            h3 {
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 0; 
            }

        }
    }
}