.tipsAndAdviceContainer {
    display: flex;
    flex-direction: column;
    .tipsTitleContainer {
        width: 55%;
        h2 {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;        
            color: #101828;
        }
    }
}
        .adviceCardContainer{
            display: flex;
            width: 100%;
            margin: 50px 0px; 
            flex-wrap: wrap;
            .adviceCard {
                background: #F9FAFB;
                border: 1px solid #EAECF0;
                box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
                border-radius: 8px;
                width: calc((100% / 3) - 15px);
                padding: 20px; 
                margin: 0px 15px 15px 0px;
                height: 100%; 
                .professionalDetailContainer {
                    display: flex; 
                    width: 100%;
                    height: 30%;
                    .titleAndLocationContainer {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        .titleContainer {
                            h3 {
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 30px;
                                color: #101828;
                                margin: 0; 
                            }
                        }
                        .locationContainer {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #475467;
                            p {
                                margin-top: 5px; 
                            }
                        }
                    }
                    .yearsGenderRaceContainer {
                        display: flex;
                        flex-direction: column;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #475467;
                        align-items: flex-end;
                        width: 50%;
                        p {
                            margin: 0; 
                        }
                        .boldAdvice {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #101828;
                        }
                    }
                }
                .userAdviceContainer {
                    .questionText {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #101828;
                    }
                    .answerText {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #475467;
                    }
                }
            }
        }

        .sRContainer {
            display: flex;
            padding: 14px;
    
            .searchContainer {
                width: 50%;
                align-self: center;
                display: flex;
                position: relative;
    
                .searchFilter {
                    padding: 10px 35px;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    font-size: 14px;
                    width: 70%;
                    margin-right: 10px;
                }
    
                .iconContainer {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    color: #667085
                }
    
                .advancedFilterContainer {
                    width: 30%;
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    padding: 10px 14px;
                    font-weight: 600;
                    font-size: 14px;
                    width: 30%;
                    position: relative;
    
                    .advancedFilter {
                        text-align: center;
                        background: transparent;
                        border: none;
                        color: #344054;
                        width: 100%;
                        box-shadow: none;
                        padding: 0;
                    }
    
                    .filterOptionsContainer {
                        position: absolute;
                        background: #FFFFFF;
                        border: 1px solid #D0D5DD;
                        border-top: none;
                        padding: 10px 14px;
                        width: 101%;
                        left: -1px;
                        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                        border-bottom-right-radius: 8px;
                        border-bottom-left-radius: 8px;
                        z-index: 10;
                        display: flex;
                        flex-direction: column;
    
                        .salaryFilters {
                            display: flex;
                            margin-bottom: 20px;
    
                            .toggleSpan {
                                margin-left: 10px;
                                align-self: center;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                color: #344054;
                            }
                        }
    
                        .genderContainer {
                            .css-b62m3t-container {
                                margin: 10px 0px 20px 0px;
                            }
                        }
    
                        .raceContainer {
                            .css-b62m3t-container {
                                margin: 10px 0px 20px 0px;
                            }
                        }
                    }
                }
            }
    
            .recentData {
                width: 50%;
    
                .recentDataTextContainer {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
    
                    .recentDataText {
                        margin: 0px 15px 0px 0px;
                    }
    
                    .totalSubmissions {
                        padding: 2px 8px;
                        background-color: #ECFDFF;
                        color: #0E7090;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        text-align: center;
                    }
                }
            }
        }
