.tipsAndAdviceContainer {
    display: flex;
    flex-direction: column;
    .tipsTitleContainer {
        width: 55%;
        h2 {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;        
            color: #101828;
        }
    }
    .tipsSearchFilterResultsContainer {
        display: flex; 
        .searchAndFilterContainer {
            display: flex;
            width: 50%;
            align-items: center;
            .searchContainer {
                width: 50%;
                input {
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    padding: 10px 14px; 
                    width: 100%;
                }
            }
            .filterContainer {
                width: 40%;
                margin-left: 50px; 
                .filterTips {
                    padding: 10px 14px; 
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 16px;
                    color: #344054;
                }
            }
        }
        .recentDataContainer {
            display: flex; 
            align-items: center;
            width: 50%; 
            justify-content: flex-end;
            h4 {
                margin: 0px 15px 0px 0px;
            }
            .totalSubmissions {
                padding: 2px 8px;
                background-color: #ECFDFF;
                color: #0E7090;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
            }
        }
    }
}

.adviceCardContainer{
    display: flex;
    width: 100%;
    margin: 50px 0px; 
    .adviceCard {
        background: #F9FAFB;
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
        width: calc((100% / 3) - 15px);
        padding: 20px; 
        margin-right: 15px;
        .professionalDetailsContainer {
            display: flex; 
            width: 100%;
            height: 30%;
            .titleAndLocationContainer {
                display: flex;
                flex-direction: column;
                width: 50%;
                .titleContainer {
                    h3 {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #101828;
                        margin: 0; 
                    }
                }
                .locationContainer {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #475467;
                    p {
                        margin-top: 5px; 
                    }
                }
            }
            .yearsGenderRaceContainer {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #475467;
                align-items: flex-end;
                width: 50%;
                p {
                    margin: 0; 
                }
                .boldAdvice {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #101828;
                }
            }
        }
        .userAdviceContainer {
            .questionText {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #101828;
            }
            .answerText {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #475467;
            }
        }
    }
}