.userSubmissionChartContainer {
    margin-top: 70px; 
    .userSubmissionTextContainer {
            display: flex;
            flex-direction: column;
            width: 100%; 
            align-items: center;
            h4 {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #088AB2
            }
            h2 {
                font-weight: 600;
                font-size: 48px;
                line-height: 60px;
                color: #101828;
                margin: 0px 
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #475467;
            }
        }
    }
.userSubmissionTable {
    margin: 50px 0px;
    border: 1px solid #EAECF0;
    .searchAndRecentDataContainer {
        display: flex;
        padding: 14px;
        .searchContainer {
            width: 50%;
            align-self: center;
            display: flex;
            .searchFilter {
                padding: 10px 14px;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                font-size: 14px;
                width: 70%;
                margin-right: 10px; 
            }
            .advancedFilterContainer {
                width: 30%; 
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                padding: 10px 14px; 
                font-weight: 600;
                font-size: 14px;
                width: 30%; 
                position: relative;
                .advancedFilter {
                    text-align: center;
                    background: transparent;
                    border: none;
                    color: #344054;
                    width: 100%; 
                    box-shadow: none;
                    padding: 0; 
                }
                .filterOptionsContainer {
                    position: absolute;
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    border-top: none;
                    padding: 10px 14px;
                    width: 101%;
                    left: -1px; 
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;
                    .salaryFilters {
                        display: flex;
                        margin-bottom: 20px; 
                        .toggleSpan {
                            margin-left: 10px; 
                            align-self: center;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #344054;
                        }
                    }
                    .genderContainer {
                        .css-b62m3t-container {
                            margin: 10px 0px 20px 0px; 
                        }
                    }
                    .raceContainer {
                        .css-b62m3t-container {
                            margin: 10px 0px 20px 0px; 
                        }
                    }
                }
            }
        }
        .recentData {
            width: 50%;
            .recentDataTextContainer {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .recentDataText {
                    margin: 0px 15px 0px 0px;
                }
                .totalSubmissions {
                    padding: 2px 8px;
                    background-color: #ECFDFF;
                    color: #0E7090;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                }
            }
            .paidWorthContainer {
                display: flex;
                justify-content: flex-end;
                .paidWorth {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #475467;
                    margin: 0;
                }
            }
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        thead {
            background-color: #164C63;
            color: #EAECF0;
            font-size: 12px;
            text-align: left;
            tr {
            .tableHeadContainer {
                padding-left: 10px;
                    }
                }
            }
        tbody {
            .tableRow {
                border-bottom: 1px solid #EAECF0;
            }
            td {
                padding: 18px 10px;
                text-align: left;
                font-size: 14px;
                color: #475467;
                .topText {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #101828;
                }
                .bottomText {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #475467;
                }
                .salaryNegotiationContainer {
                    display: flex;
                    .salaryNumber {
                        margin-right: 5px; 
                    }
                    .increasedPercentage {
                        padding: 2px 8px 2px 6px;
                        background: #ECFDF3;
                        mix-blend-mode: multiply;
                        border-radius: 16px;
                        color: #027A48;
                        text-align: center;
                        line-height: 18px;
                        font-size: 12px;
                    }
                }
                .genderText {
                    padding: 2px 8px;
                    background: #ECFDFF;
                    mix-blend-mode: multiply;
                    border-radius: 16px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    color: #0E7090;
                    text-transform: capitalize;
                }
                .tagsContainer {
                    display: flex;
                    flex-wrap: wrap;
                    .negotiateContainer {
                        margin: 0px 5px 5px 0px; 
                        .negotiateText {
                            background: #ECFDF3;
                            mix-blend-mode: multiply;
                            border-radius: 16px;
                            padding: 2px 8px; 
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            color: #027A48;
                        }
                    }
                    .workArrangementContainer {
                        margin: 0px 5px 5px 0px;
                        .workArr {
                            padding: 2px 8px;
                            background: #EEF4FF;
                            mix-blend-mode: multiply;
                            border-radius: 16px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            color: #3538CD;
                            text-transform: capitalize;
                        }
                    }
                    .disabilityContainer {
                        margin: 0px 5px 5px 0px;
                        .disabilityText {
                            background: #EFF8FF;
                            mix-blend-mode: multiply;
                            border-radius: 16px;
                            padding: 2px 8px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            color: #175CD3;
                        }
                    }
                }
            }

        }
    }
}

.tags {
    width: 25%;
}

.compensation {
    width: 15%; 
}

.gender {
    width: 15%; 
}

.years {
    width: 10%
}

.company {
    width: 15%; 
}

.title {
    width: 20%; 
}



